.Cartoverlaycomp{
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    
 }
 
 .cartinfo__left{
     display: flex;
     flex-direction: column;
     margin-top: 25px;
 }
 
 .size__button{
     display: flex;
     margin-top: 27px;
     
 }
 
 .brand{
     font-family: Raleway;
     font-size: 16px;
     font-weight: 300;
     line-height: 26px;
     letter-spacing: 0px;
     text-align: left;
 
 }
 
 .item__type{
     font-family: Raleway;
     font-size: 16px;
     font-weight: 300;
     line-height: 26px;
     letter-spacing: 0px;
     text-align: left;
 }
 
 .item__price{
     font-size: 16px;
     font-weight: 600;
     line-height: 26px;
     letter-spacing: 0em;
     margin-top: 13px;
     
 }
 
 .btn__S button{
     width: 24px;
     height: 24px;
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 160%;
     margin-right: 8px;
     border: 1px solid #1D1F22;
     box-sizing: border-box;
     background-color: #FFFFFF;
 }
 
 .btn__M button{
     font-family: 'Source Sans Pro';
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 160%;
     width: 24px;
     height: 24px;
     color: #A6A6A6;
     border: 1px solid #1D1F22;
     
 }
 
 .cartinfo__right{
     display: flex;
     flex-direction: row;
     margin-top: 23px;
 }
 
 .change__quantity{
     margin-right: 10px;
     margin-top: 15px;
 }
 
 .plus button{
     margin-bottom: 30px;
     left: 0%;
     right: 0%;
     top: 0%;
     bottom: 0%;
     height: 24px;
     width: 24px;
     border: 1px solid #1D1F22;
     box-sizing: border-box;
     background-color: #FFFFFF;
 }
 
 .minus button{
     left: 0%;
     right: 0%;
     top: 0%;
     bottom: 0%;
     height: 24px;
     width: 24px;
     border: 1px solid #1D1F22;
     box-sizing: border-box;
     background-color: #FFFFFF;
 }
 
 .quantity {
     margin-bottom: 30px;
 }
 
 .preview__Images{
     height: 142px;
 }