.Pdp{
    display: flex;
    margin-left: 101px;
    margin-top: 65.41px;
}

.pdp__containerOne{
    display: flex;
    flex-direction: column;
    gap: 32.39px;
    margin-right: 33px;
}

/* .pdp__itemDetail{
    
} */

.pdp__smallImage{
    width: 80.65px;
    height: 87.61px;
}
.pdp__productImage{
    margin-right: 80px;
}
.pdpLargeImage{
    width: 610px;
    height: 511px;
}

.pdp__itemDetailBrandName{
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
    margin-bottom: 16px;
}
.pdp__itemDetailDescription{
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    color: #1D1F22;
    margin-bottom: 43px;
}
.pdp__itemDetailSize{
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
}
.pdp__itemDetailSizeButton{
    width: 63px;
    height: 45px;
    border: 1px solid  #1D1F22;
    background-color: #FFFFFF;
    margin-right: 12px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
}
.pdp__itemDetailPrice{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}
.pdp__itemDetailAmount{
font-weight: 700;
margin-bottom: 20px;
font-size: 24px;
}

.pdp__itemDetailCartButton{
    width: 292px;
    height: 52px;
    padding: 16px, 32px, 16px, 32px;
    background-color: #5ECE7B;
    border: none;
    margin-bottom: 40px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
}
.pdp__itemDetailDescriptive{
    font-weight: 400;
    width: 292px;
    line-height: 25.59px;
    font-size: 16px;
    height: 103px;
    color: #1D1F22;
    font-family: 'Roboto', sans-serif;
}